<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Geoffrey</title>
</head>
<body>
    <div>
        <p>when the shit hits the Fan, and there is noone around, from the depth of darkness raises a hero. some say: he can do a double jump using his head, others say he shoots shit bombs from 2 inches over his head. All we know he is called Geoffery</p>
    </div>
    <a href="/">home</a>
    <a href = "about">about</a>
    <a href = "works">works</a>
    
</body>
</html>