<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masterpieces</title>
</head>
<body>
    <div>
        <ul>
            <li>broke the world record for shitty jumps</li>
            <li>broke the world record for the longest diahrria</li>
            <li>broke the world record for the most explosive shit ever</li>
        </ul>
    </div>
    <a href="/">home</a>
    <a href = "about">about</a>
    <a href = "works">works</a>
   
</body>
</html>